.thinking_face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;

  animation: rotate_bounce 1.2s linear infinite;
}

@keyframes rotate_bounce {
  0% {
    transform: rotate(0) scale(0.5);
  }
  50% {
    transform: rotate(180deg) scale(1.0);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}